---
import Layout from '../layouts/Layout.astro';
import Question from "../components/Icons/Question.astro";
import Logo from "../components/Icons/Logo.astro";
import Logo_bc from "../components/Icons/Logo-bc.astro";
import Number from "../components/Number.astro";
import Copy from "../components/Icons/Copy.astro";
import Qr from "../components/Icons/qr.astro";
import Card from "../components/Icons/Card.astro";
---

<Layout title="Nequi">
<main class="bg-primary_uva flex flex-col mx-auto justify-between aspect-[9/16] max-h-screen overflow-hidden">
<div class="flex flex-row justify-between mt-4 mx-6">
	<div class="flex justify-items-start items-center">
		<Question class="size-10 text-white"/>
	</div>
	<div class="flex flex-nowrap justify-between items-center bg-white/20 p-2 rounded text-white ">
		<div class="size-6 border-[4px] border-white relative rotate-45 rounded-full before:content-[''] before:absolute before:-inset-1 before:rounded-full before:border-[4px] before:border-eugenia before:animate-spin-slow"></div> 
		<span class="text-sm font-['Segoe_UI'] text-center mx-2 leading-[14px]">Clave<br/>dinámica</span>
		<span class="count text-lg font-medium tracking-widest min-w-[75px] max-w-[75px] text-center " />
		<button onclick="copyToClipboard()"><Copy class="size-6 text-white" /></button>
	</div>
</div>
<div class="flex justify-center items-center h-[calc(100vh-400px)]">
	<Logo class="w-3/4 text-white"/>
</div>
<div class="inline-flex flex-wrap justify-between items-end mx-6">
	<div class="flex bg-white/20 text-white p-2 items-center w-full justify-start rounded-md">
	<input type="text" class="bg-transparent p-2 w-[50px] text-center text-xl font-medium" value="+57"/> 
	<span class="bg-primary_uva text-3xl font-semibold text-center mx-2 w-[2.6px] h-[25px]"></span>
	<input type="text" class="bg-transparent w-3/4 p-2 text-left text-xl font-medium" value="301 7810852" />
	</div>
	<button class="w-full mt-3 bg-eugenia rounded-md p-3 text-white text-center text-2xl ">Entra</button>
</div>
<div class="inline-flex items-center justify-between text-xl font-medium mb-4 mx-8 text-white">
	<span><Qr class="size-8 inline mr-2 -mt-1.5"/>Usa tu QR</span>
	<span><Card class="h-8 rotate-90 inline text-white mr-2 -mt-1.5"/>Paga en Datafono</span>
	<span><Logo_bc class="w-28 text-white/60  inline mr-2 -mt-1.5"/></span>
</div>
</main>
</Layout>
<script type="text/javascript">
	function tarea(n){
	return document.getElementsByClassName("count")[0].innerHTML = (Math.floor(Math.random() * n).toString().substring(0, 6));
}
tarea(10000000)
setInterval(tarea, 30000, 1000000)

function copyToClipboard() {
    try {
      navigator.clipboard.writeText(document.getElementsByClassName('count')[0].innerHTML);
      alert('Clave copiada al portapapeles: ' + document.getElementsByClassName('count')[0].innerHTML);
    } catch (err) {
      alert('Error al copiar: ', err);
    }
  }
</script>